html {
  background: url(../images/spice-girls.jpg) no-repeat top left;
}

#monkey {
  position: absolute;
  top: 550px;
  right: 120px;
}

@media only screen and (min-width:250px) and (max-width:1300px) {
  #monkey {
    top:50px;
  }
}
